[submodule "prebuilts"]
	path = prebuilts
    url = git@github.com:GeorgeZhouWork/hafnium_prebuilts.git
	shallow = true
[submodule "driver/linux"]
	path = driver/linux
    url = git@github.com:GeorgeZhouWork/hafnium_driver.git
[submodule "project/reference"]
	path = project/reference
    url = git@github.com:GeorgeZhouWork/hafnium_reference.git
[submodule "third_party/dtc"]
	path = third_party/dtc
    url = git@github.com:GeorgeZhouWork/hafnium_dtc.git
[submodule "third_party/googletest"]
	path = third_party/googletest
    url = git@github.com:GeorgeZhouWork/hafnium_googletest.git
[submodule "third_party/linux"]
	path = third_party/linux
    url = git@github.com:GeorgeZhouWork/hafnium_linux.git
